.App {
  text-align: center;

  &__header {
    padding: 32px;
    background-color: #0770e3;
    color: white;
  }

  &__header-inner {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__main {
    padding: 32px;
    max-width: 1200px;
    margin: 0 auto;
  }

  &__heading {
    margin-bottom: 16px;
  }

  &__text {
    margin-bottom: 16px;
  }
}